.sidebar__container{
    display: flex;
    flex-basis: 20%;
    background: #1769aa;
    font-size: 24px;
    height:100vh;
    text-align: center;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    display: block;
    padding: 1em 0;
}

li a {
    text-decoration: none;
    color: white;
}