.item__container{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 5px;
    background: #00838f;
    border-radius: 5px;
}

.item__container p{
    width: 25%;
    font-size: 18px;
    color: #ffffff;
}

.button__x{
    background: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}